<<<<<<< HEAD
form.form-horizontal#sort-form
  .form-group
    //-search
    label(for='search').control-label.col-xs-2 Search:
    .col-xs-10
      input(type='text' placeholder='Search' name='name').form-control#search
  .form-group
    //-class
    label(for='select-class').control-label.col-xs-2 Class:
    .col-xs-10
      select(name='class').form-control#select-class
        -var classes = {'Any Class':'','Barbarian':'Barbarian','Bard':'Bard','Cleric':'Cleric','Druid':'Druid','Fighter':'Fighter','Monk':'Monk','Paladin':'Paladin','Ranger':'Ranger','Rogue':'Rogue','Sorcerer':'Sorcerer','Warlock':'Warlock','Wizard':'Wizard'};;
        each val,key in classes
          option(value=val)= key
  .form-group
    //-level
    label(for='minimum-level').control-label.col-xs-2 Level:
    .col-xs-5
      input(type='text' placeholder='Min' name='minLevelControl').form-control#minimum-level
    .col-xs-5
      input(type='text' placeholder='Max' name='maxLevelControl').form-control#maximum-level
  .form-group
    //-school
    label(for='select-school').control-label.col-xs-2 School:
    .col-xs-10
      select(name='school').form-control#select-school
        -var schools = {'Any School':'','Abjuration':'Abjuration','Conjuration':'Conjuration','Divination':'Divination','Enchantment':'Enchantment','Evocation':'Evocation','Illusion':'Illusion','Necromancy':'Necromancy','Transmutation':'Transmutation'};
        each val,key in schools
          option(value=val)= key
  .form-group
    //-cast-time
    label(for='min-cast-time').control-label.col-xs-2 Cast:
    .col-xs-5
      select(name='minCastControl').form-control#min-cast-time
        -var times = {'Any':'','1 reaction':0,'1 bonus action':0.5,'1 action':1,'1 minute':10,'10 minutes':100,'1 hour':600,'8 hours':4800,'12 hours':7200,'24 hours':14400};
        each val, key in times
          option(value=val)= key
    .col-xs-5
      select(name='maxCastControl').form-control#max-cast-time
        each val, key in times
          option(value=val)= key
  .form-group
    //-duration
    label(for='min-duration').control-label.col-xs-2 Duration:
    .col-xs-5
      select(name='minDurationControl').form-control#min-duration
        -var durations = {'Any Duration':'','Instantaneous':0,'1 round':1,'1 minute':10,'10 minutes':100,'1 hour':600,'8 hours':4800,'12 hours':7200,'24 hours+':2650000,'Permanent':-1};
        each val, key in durations
          option(value=val)= key
    .col-xs-5
      select(name='maxDurationControl').form-control#max-duration
        each val, key in durations
          option(value=val)= key
  .form-group
    //-range
    label(for='min-range').control-label.col-xs-2 Range:
    .col-xs-5
      input(type='text' placeholder='Min (ft.)' name='minRangeControl').form-control#min-range
    .col-xs-5
      input(type='text' placeholder='Max (ft.)' name='maxRangeControl').form-control#max-range
  .form-group
    //-components
    label(for='components').control-label.col-xs-2 Comp:
    .col-xs-10
      label.checkbox-inline
        input(type='checkbox' value='true' name='verbalControl')
        |V
      label.checkbox-inline
        input(type='checkbox' value='true' name='somaticControl')
        |S
      label.checkbox-inline
        input(type='checkbox' value='true' name='materialControl')
        |M
      label.checkbox-inline
        input(type='checkbox' value='true' name='expensiveMaterialControl')
        |M(gp)
  .form-group
    .col-xs-2
    .col-xs-10
      label.checkbox-inline
        input(type='checkbox' value='true' name='ritual')
        |Ritual
      label.checkbox-inline
        input(type='checkbox' value='true' name='concentration')
        |Concentration
  .form-group
    //-source
    label(for='select-source').control-label.col-xs-2 Source:
    .col-xs-10
      select(name='page').form-control#select-source
        -var sources = {"Any Source":"","Player's Handbook":"phb","Elemental Evil Player's Companion":"ee pc","Sword Coast Adventurer's Guide":"scag"};
        each val,key in sources
          option(value=val)= key
  .row
    .col-xs-1
    .col-xs-5
      button(type='submit').btn.btn-primary.btn-block#update-button Search
    .col-xs-5
      button(type='button').btn.btn-secondary.btn-block#reset.button Reset
    .col-xs-1
=======
form.form-horizontal#sort-form
  .form-group
    //-search
    label(for='search').control-label.col-xs-2 Search:
    .col-xs-10
      input(type='text' placeholder='Search' name='name').form-control#search
  .form-group
    //-class
    label(for='select-class').control-label.col-xs-2 Class:
    .col-xs-10
      select(name='class').form-control#select-class
        -var classes = {'Any Class':'','Barbarian':'Barbarian','Bard':'Bard','Cleric':'Cleric','Druid':'Druid','Fighter':'Fighter','Monk':'Monk','Paladin':'Paladin','Ranger':'Ranger','Rogue':'Rogue','Sorcerer':'Sorcerer','Warlock':'Warlock','Wizard':'Wizard'};;
        each val,key in classes
          option(value=val)= key
  .form-group
    //-level
    label(for='minimum-level').control-label.col-xs-2 Level:
    .col-xs-5
      input(type='text' placeholder='Min' name='minLevelControl').form-control#minimum-level
    .col-xs-5
      input(type='text' placeholder='Max' name='maxLevelControl').form-control#maximum-level
  .form-group
    //-school
    label(for='select-school').control-label.col-xs-2 School:
    .col-xs-10
      select(name='school').form-control#select-school
        -var schools = {'Any School':'','Abjuration':'Abjuration','Conjuration':'Conjuration','Divination':'Divination','Enchantment':'Enchantment','Evocation':'Evocation','Illusion':'Illusion','Necromancy':'Necromancy','Transmutation':'Transmutation'};
        each val,key in schools
          option(value=val)= key
  .form-group
    //-cast-time
    label(for='min-cast-time').control-label.col-xs-2 Cast:
    .col-xs-5
      select(name='minCastControl').form-control#min-cast-time
        -var times = {'Any':'','1 reaction':0,'1 bonus action':0.5,'1 action':1,'1 minute':10,'10 minutes':100,'1 hour':600,'8 hours':4800,'12 hours':7200,'24 hours':14400};
        each val, key in times
          option(value=val)= key
    .col-xs-5
      select(name='maxCastControl').form-control#max-cast-time
        each val, key in times
          option(value=val)= key
  .form-group
    //-duration
    label(for='min-duration').control-label.col-xs-2 Duration:
    .col-xs-5
      select(name='minDurationControl').form-control#min-duration
        -var durations = {'Any Duration':'','Instantaneous':0,'1 round':1,'1 minute':10,'10 minutes':100,'1 hour':600,'8 hours':4800,'12 hours':7200,'24 hours+':2650000,'Permanent':-1};
        each val, key in durations
          option(value=val)= key
    .col-xs-5
      select(name='maxDurationControl').form-control#max-duration
        each val, key in durations
          option(value=val)= key
  .form-group
    //-range
    label(for='min-range').control-label.col-xs-2 Range:
    .col-xs-5
      input(type='text' placeholder='Min (ft.)' name='minRangeControl').form-control#min-range
    .col-xs-5
      input(type='text' placeholder='Max (ft.)' name='maxRangeControl').form-control#max-range
  .form-group
    //-components
    label(for='components').control-label.col-xs-2 Comp:
    .col-xs-10
      label.checkbox-inline
        input(type='checkbox' value='true' name='verbalControl')
        |V
      label.checkbox-inline
        input(type='checkbox' value='true' name='somaticControl')
        |S
      label.checkbox-inline
        input(type='checkbox' value='true' name='materialControl')
        |M
      label.checkbox-inline
        input(type='checkbox' value='true' name='expensiveMaterialControl')
        |M(gp)
  .form-group
    .col-xs-2
    .col-xs-10
      label.checkbox-inline
        input(type='checkbox' value='true' name='ritual')
        |Ritual
      label.checkbox-inline
        input(type='checkbox' value='true' name='concentration')
        |Concentration
  .form-group
    //-source
    label(for='select-source').control-label.col-xs-2 Source:
    .col-xs-10
      select(name='page').form-control#select-source
        -var sources = {"Any Source":"","Player's Handbook":"phb","Elemental Evil Player's Companion":"ee pc","Sword Coast Adventurer's Guide":"scag"};
        each val,key in sources
          option(value=val)= key
  .row
    .col-xs-1
    .col-xs-5
      button(type='submit').btn.btn-primary.btn-block#update-button Search
    .col-xs-5
      button(type='button').btn.btn-secondary.btn-block#reset.button Reset
    .col-xs-1
>>>>>>> cac6cef050b1a472a9382bdd6396773bc3af74e8
